$page-width: 100%;
$primary-link: #ffffff;
$primary-link-hover: #989898;
$mobile-break-width: 600px;
$tablet-break-width: 768px;
$laptop-break-width: 992px;
$desktop-break-width: 1200px;
$spacing4: 4px;
$spacing8: 8px;
$spacing16: 16px;
$spacing32: 32px;
$spacing48: 48px;
$spacing64: 64px;
$left-column-width: 250px;
