$page-width: 1600px;
$primary-link: #0066c0;
$primary-link-hover: #004d90;
$mobile-break-width: 600px;
$tablet-break-width: 768px;
$laptop-break-width: 992px;
$desktop-break-width: 1200px;
$spacing4: 4px;
$spacing8: 8px;
$spacing16: 16px;
$spacing32: 32px;
$spacing64: 64px;
