* {
    box-sizing: border-box;
    user-select: none;
    transition: background-color 200ms ease-out;
}

.hidden {
    display: none;
}

body,
html {
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 48px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px grey;
}
