.button {
    padding: 20px;
    box-shadow: 1px 1px 5px 0px grey;
}
.primary {
    background-color: red;
    color: white;
    @media only screen and (min-width: $tablet-break-width) {
        &:hover {
            background-color: lightgray;
            color: black;
        }
        &:active {
            background-color: lightslategray;
            color: white;
        }
    }
}
