.flipcardcontainer {
    display: flex;
    flex-direction: column;
    gap: $spacing16;
    justify-content: space-between;
    @media only screen and (min-width: $mobile-break-width) {
        flex-direction: row;
    }
}
