.footer {
    bottom: $spacing32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    &-credit {
        text-align: center;
        width: 100%;
    }
}
