@import "./about.scss";
@import "./home.scss";
@import "./projects.scss";

.body {
  display: flex;
  &-left {
    background: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    visibility: collapse;
    width: 0;
    & > .header,
    & > .nav {
      margin: 0 auto;
      max-width: 350px;
    }
  }
  @media only screen and (min-width: $mobile-break-width) {
    margin: 0 auto;

    &-left {
      display: block;
      height: 100vh;
      position: relative;
      text-align: center;
      visibility: visible;
      width: 25% !important;
    }
  }
}
