.main-home {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    &-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: $spacing16;
        height: 100%;
        justify-content: center;
        padding: $spacing32;
    }
    &-section {
        display: flex;
        flex: 1 1 auto;
        max-width: $left-column-width;
        max-height: 150px;
        width: 100%;
        a {
            align-items: center;
            background-color: gray;
            display: flex;
            color: white;
            flex: 1;
            justify-content: center;
        }
        a:visited {
            color: white;
        }
        a:hover {
            background-color: lightgray;
            color: black;
        }
    }
}
